
<div  ng-keypress="($event.which === 13)?login():0" class="xy-login unselectable"   id="loginUi" tabindex="-1" > <!--ng-keypress="($event.which === 13)?login():0"-->
    <div class="tu-one" ></div>
    <div class="tu-two" ></div>
    <div class="tu-three"></div>
    <div class="xy_bar" >
        <span class="iconfont"  ng-click="minimize()" ng-show="!minDisable">&#xe600;</span>
        <span class="iconfont" ng-click="closeWin()" ng-show="!closeable">&#xe602;</span>
    </div>

    <form>

    <div class="users">
        <div class="tu">
            <input id="userAccount"
                    autocomplete="off"
                    ng-change="clearPassword()"
                    class="text userAccount"
                    tabindex="2"
                    ng-focus="changeClick()"
                    type="text"
                    ng-model="username"
            />
        </div>

        <div uib-dropdown ng-show="isShowUserSelector()">
            <button type="button"
                    class="btn btn-primary"
                    uib-dropdown-toggle tabindex="-1" ng-click="changeClickAble()">
                <span class="caret"></span>
            </button >
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
                <li role="menuitem" ng-repeat="user in users" >
                    <a href="#"  ng-click="selectUser($index)" ng-show="user.account!=''">
                        <span ng-bind="user.account"></span>
                        <button ng-click="deleteUser(user)" ng-disabled="!clickAble">
                            <i class="iconfont">&#xe602;</i>
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="pass">
        <div class="tu">
            <input class="pa password"
                    ng-focus="changeClickPass()"
                    type="password"
                    ng-model="password"
                    tabindex="3"
            />
        </div>
    </div>

        <label>
            <input type="checkbox" ng-model="rememberPassword" tabindex="-1"/>
            <span>记住密码</span>
        </label>

    <p class="lip">{{promptMsg}}</p>

    <div >
        <button class="log" id="loginBut" ng-click="login()" ng-disabled="disableLoginBtn()" type="submit" tabindex="-1" ng-keypress="login()">
            {{getLoginBtnContext()}}
        </button>
    </div>

    </form>
</div>

