<div class="xy-guide">
    <div class="xy-background">
        <div class="xy-progress">
                <span class="xy-gray-circle xy-circle">
                    <span class="xy-white-circle xy-circle"></span>
                </span>

                <span class="xy-gray-circle xy-circle">
                    <span class="xy-white-circle xy-circle"></span>
                </span>

                <span class="xy-gray-circle xy-circle">
                    <span class="xy-white-circle xy-circle"></span>
                </span>

                <span class="xy-gray-circle xy-circle">
                    <span class="xy-white-circle xy-circle"></span>
                </span>

                <span class="xy-gray-circle xy-circle">
                    <span class="xy-white-circle xy-circle"></span>
                </span>

                <span class="xy-gray-circle xy-circle">
                    <span class="xy-white-circle xy-circle"></span>
                </span>

        </div>
    </div>
</div>