.xy_random_roll {
  &.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
   .header_six {
    width: 462px;
    height: 29px;
    background-color: $purple;
    font-family: "Microsoft YaHei";
    font-size: 18px;
    text-align: center;
    padding-top: 5px;
    color: $white;
    cursor: default;
  }
   .roll_content {
    width: 462px;
    height: 274px;
    background-color: $lowPurple;
    position: relative;
    .stu_pic {
      position: absolute;
      top: 4px;
      left: 182px;
      z-index: 10;
    }
    .roll_stu {
      overflow: hidden;
      background-color: $lowWhite;
      position: absolute;
      width: 409px;
      height: 162px;
      border: 15px solid $white;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      top: 85px;
      left: 29px;
      .shadow_middle {
        font-size: 50px;
        font-family: "SimSun";
        color: $deepWhite;
        bottom: 35px;
        position: absolute;
        text-align: center;
        color: $black;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 379px;
      }
      .shadow_top {
        font-size: 50px;
        font-family: "SimSun";
        color: $deepWhite;
        bottom: 94px;
        position: absolute;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 379px;
      }
      .shadow_bottom {
        font-size: 50px;
        font-family: "SimSun";
        color: $deepWhite;
        text-align: center;
        top: 90px;
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 379px;
      }
    }
  }
}
