.bottom{
    left:0;

    .greenBlack & {
        .retract {
            background-color: $heaveGreen;

            &:hover{
                background-color: #006e6b;
            }
        }
    }

    .green  & {
        .retract {
            background-color: #1bb265;

            &:hover{
                background-color: #1bb265;
            }
        }
    }

    .retract{
        width: 144px;
        height: 49px;
        position: absolute;
        color: $white;
        font-size: 18px;
        font-family: "Microsoft YaHei";
        text-align: center;
        left: 4px;
        //background-image: url("../../../../../img/three.png");
        //background-repeat: no-repeat;
        //background-position-x:90px;
        //background-position-y:20px;
        border:0;

        .tab_one {
            position: absolute;
            top: 12px;
            left: 50px;
        }
    }

    .return{
        opacity: 1;
        width: 144px;
        height: 49px;
        background-color: #808080;
        font-size: 18px;
        font-family: "Microsoft YaHei";
        color: #ffffff;
        text-align: center;
        position: absolute;
        right: 4px;
        border:0;

        &:hover{
            background-color: #6c6c6c;
        }
    }
}


.close .tab_two{
    position: absolute;
    top: 13px;
    left: 50px;

}
.spread{
    width: 30px;
    height: 100px;
    background-color: $deepGreen;
    color: #ffffff;
    font-family: "Microsoft YaHei";
    font-size: 18px;
    text-align: center;
    padding-top:25px;
    -webkit-app-region: no-drag;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}