
<!--<xy-title-bar xy-title="答题详情" xy-min-disable ></xy-title-bar>-->
<div class="xy_random_roll unselectable">
    <div class="header_six">
        随机选答
    </div>
    <div class="roll_content">
      <img  ondragstart="event.preventDefault(); return false;" class="stu_pic" src="../../img/random.png">
        <div class="roll_stu">
            <div class="shadow_top" >{{randomMem?randomMem.sIndex:""}}号 {{randomMem?randomMem.name:""}}</div>
            <div class="shadow_middle" >{{randomMem?randomMem.sIndex:""}}号 {{randomMem?randomMem.name:""}}</div>
             <div class="shadow_bottom" >{{randomMem?randomMem.sIndex:""}}号 {{randomMem?randomMem.name:""}}</div>
            </div>
    </div>
</div>