.xy-confirm-dialog{
  height: 200px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  .xy-confirm-dialog-header{
    height: 30px;
    background-color: $deepGreen;
    color: #fff;
    line-height: 27px;
    padding: 0 10px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    span{
      cursor: default;
    }
    button{
      border: none;
      background: none;
      float: right;
    }
  }
  p{
    margin: 45px;
    text-align: center;
    font-size: 16px;
    overflow: hidden;
    height: 66px;
    text-overflow: ellipsis;
  }
  .xy-confirm-dialog-btn{
    position: absolute;
    bottom: 30px;
    left: 104px;
    button{
      border: 0;
      border-radius: 5px;
      background-color: $deepGreen;
      color: #fff;
      padding: 4px 10px;
      margin: 0 17px;
    }
    button:last-child{
      background-color: #808080;
    }
  }
}