
<div class="xy-attendance unselectable">
    <xy-title-bar xy-title="签到"></xy-title-bar>
    <div class="register">
        <div class="btn-group">
            <label class="btn btn-primary"
                    ng-class="{active: curtMode == ALL_MODE}"
                    ng-model="curtMode"
                    ng-click="changeStudentType(ALL_MODE)"
                    uib-btn-radio="ALL_MODE">
                全部学生
                <div></div>
            </label>

            <label class="btn btn-primary"
                    ng-class="{active: curtMode == PRESENT_MODE}"
                    ng-model="curtMode"
                    ng-click="changeStudentType(PRESENT_MODE)"
                    uib-btn-radio="PRESENT_MODE">
                已到学生
                <div></div>
            </label>

            <label class="btn btn-primary"
                    ng-class="{active: curtMode == UNPRESENT_MODE}"
                    ng-model="curtMode"
                    ng-click="changeStudentType(UNPRESENT_MODE)"
                    uib-btn-radio="UNPRESENT_MODE">
                未到学生
                <div></div>
            </label>

            <label class="btn btn-primary"
                    ng-class="{active: curtMode == UNBINDSTUDENS_MODE}"
                    ng-model="curtMode"
                    ng-click="changeStudentType(UNBINDSTUDENS_MODE)"
                    uib-btn-radio="UNBINDSTUDENS_MODE">
                未绑卡学生
                <div></div>
            </label>
        </div>

        <div class="xy-list-body">
            <div class="xy-green-line"></div>
            <div class="inner-wrapper" xy-scroll on-scroll="onTableScroll(data)">
                <table class="list_students">
                    <thead>
                        <tr class="list_nature xy-attendance-student-info-header">
                            <th class="list">编号</th>
                            <th class="list">姓名</th>
                            <th class="list">学号</th>
                            <th class="list">是否到场</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  class="list_body"
                             ng-repeat="stu in getCurtModeStudents() | limitTo: numberOfStudentsToDisplay">
                            <td class="list" ng-bind="$index + 1"></td>
                            <td class="list" ng-bind="stu.name" title="{{stu.name}}"></td>
                            <td class="list" ng-bind="stu.sNumber" title="{{stu.sNumber}}"></td>
                            <td class="list" ng-bind="getStudentStateDescription(stu)" ng-class="getStudentStateStyleClassName(stu)"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <xy-alert ng-show="alerting" xy-content="{{alertContent}}"></xy-alert>
</div>