.modal-content{
  //width: 320px;
  //margin: 0 auto;
  //border: none;
  .xy_no-reporter-alert{
    border: none;
    height: 220px;
    .xy_no-reporter-alert-header{
      height: 26px;
      padding: 0 4px;
      background-color: $deepGreen;
      color: #fff;
      span{
        line-height: 26px;
      }
      button{
        border: none;
        background: none;
        float: right;
      }
    }
    .xy_no-reporter-alert-body{
      span{
        display: block;
        text-align: center;
        font-size: 16px;
        padding: 60px 30px 0;
      }
      div{
        button{
          border: none;
          background-color: #13E1DA;
          color: #fff;
          padding: 2px 8px;
          position: absolute;
          bottom: 30px;
          left: 44%;
        }
      }
    }
  }
}