.xy-setting-import-class{
  &.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  padding-right: 0px !important;
}
.xy-setting-import-class .modal-dialog.modal-lg{
  width: 320px;
  margin: 25% auto;
  .modal-content{
    width:$addwidth;
    height:150px;
    border: 1px solid $deepGreen;
  }
}
.xy-import-class-dialog{
  width: 100%;
  height: 100%;

  .xy_alert_whether_replace_class{
    text-align: center;
    font-family: “Microsoft YaHei”;
    font-size: 20px;
    line-height: 30px;
    margin: 0;

    .xy_title_bar{
      border-radius: 6px 6px 0 0;
      text-align: left;
      padding-left: 10px;
    }

    img{
      width:36px;
      height:36px;
      float: left;
      margin: 18px 10px 16px 30px;
    }

    p{
      float: left;
      margin-top: 21px;
      color: $fontGrey;
      font-size: 18px;
      font-weight: 100;
    }
  }
  .xy_alert_class_botton{
    margin: 20px 20px 10px 20px;
    text-align: center;

    .xy_alert_class_botton_ok{
      background-color:$deepGreen;
      color:$white;
      border:0;
      outline: 0;
      padding: 3px 6px;
      width: $btnwidth;
      height: $btnheight;
      border-radius: 3px;
      float: left;
      clear: left;
      margin-left: 6px;

      &:hover{
        background-color:$hoverBlue;
      }
    }

    .xy_alert_class_botton_cancel{
      background-color: $cancelBtnGrey;
      color: $white;
      border:0;
      outline: 0;
      padding: 3px 6px;
      width: $btnwidth;
      height: $btnheight;
      border-radius: 3px;
      float: left;
      margin-left: 5px;

      &:hover{
        background-color: $normalGrey;
      }
    }
  }
}






