@import "create_class_dialog";
@import "import_class_dialog";

.xy-setting {
  &.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  @include bottomOpenSize;
  font-size: 18px;



  .xy-setting-btn {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background: transparent;
  }

  .xy-setting-content {
    @include bottomOpenContent;
    padding-bottom: 35px;
    height: 95%;

    .xy-setting-header,
    .xy-setting-body,
    .xy-setting-footer {
      width: 100%;
      @include bottomOpenPaddingLR;
    }

    .xy-setting-header {
      @include bottomOpenPaddingLR;
      @include bottomOpenPaddingT;
      padding-bottom: 22px;

      .xy-setting-class-manage-tool {
        display: inline-block;
        @include bottomOpenBtnPadding;
        width: 130px;
        height: 30px;
        border: 1px solid $deepGreen;


        .xy-setting-class-select {
          padding-right: 10px;
          margin-right: 8px;
          outline: none;
          border: none;
        }

        .xy-setting-manage-btn {
          font-size: 18px;
          color: $white;
        }
        .xy_setting_class_name {
          margin-right: 6px;
          .dropdown-menu>li>a:focus,
          .dropdown-menu>li>a:hover {
            color: $white;
            text-decoration: none;
            background-color: $middleGray;
          }
          .xy_setting_class_name_ul {
            min-width: 106px;
            width: 130px;
            position: relative;
            top: 4px;
            left: -9px;
            box-sizing: border-box;
          }
        }
      }

      .xy-setting-btn-wrapper {
        display: inline-block;

        .xy-setting-btn {
          @include bottomOpenBtnPadding;
          //font-size: 18px;
          @include bottomOpenTableTiele;
          &:hover {
            background: $lightBlack;
          }
        }
      }
    }

    .xy-setting-body {
      height: 430px;
      .inner-wrapper {
        width: 100%;
        height: 100%;
        overflow: auto;
        .xy-setting-class-info {
          width: 100%;
          //text-align: center;
          vertical-align: middle;
          //font-size: 18px;
          border: $greyBorder;

          .xy-setting-class-info-header {
            @include bottomOpenTableTiele;
            position: relative;
            z-index: 10;

            .xy-setting-class-info-header-item {
              min-width: 60px;
              max-width: 150px;
              color: $white;
              @include bottomOpenTable;
              &:first-child {
                width: 65px;
              }
              &:nth-child(2){
                width: 155px;
              }
              &:nth-child(3),&:nth-child(4){
                width: 165px;
              }
              &:nth-child(5){
                width: 145px;
              }
              &:nth-child(6){
                width: 60px;
              }
            }
          }

          .xy-setting-student-info {
            border-bottom: $greyBorder;

            &:last-child {
              border-bottom: none;
            }

            .xy-setting-student-info-item {
              @include textOverflowEllipsis;

              min-width: 60px;
              max-width: 150px;
              padding: 10px;
              border-left: $greyBorder;
              text-align: center;
              font-size: $tdFontSize;
              a{
                font-size: $tdFontSize !important;
              }

              &:first-child {
                border-left: none;
                width: 65px;
              }
              &:nth-child(2){
                width: 155px;
              }
              &:nth-child(3),&:nth-child(4){
                width: 165px;
              }
              &:nth-child(5){
                width: 145px;
              }
              &:nth-child(6){
                width: 60px;
              }

              input {
                width: 100%;
                border: none;
                outline: none;
                text-align: left;
                text-align: center;
                @include textOverflowEllipsis;
              }

              .xy-setting-userable,
              .xy-setting-unUserable {
                display: inline-block;
              }

              .xy-setting-userable {
                width: 20px;
                height: 15px;
                background-image: url("../../../../../img/correct.png");
              }

              .xy-setting-unUserable {
                width: 18px;
                height: 17px;
                background-image: url("../../../../../img/error.png");
              }

              .xy-setting-bind-card,
              .xy-setting-bind-card:hover,
              .xy-setting-press-key,
              .xy-setting-press-key:hover,
              .xy-setting-rebind-card,
              .xy-setting-rebind-card:hover,
              .xy-setting-delete-student,
              .xy-setting-delete-student:hover {
                display: inline-block;
                text-decoration: underline;
                font-size: 18px;
                cursor: pointer;
              }
              .xy-setting-bind-card,
              .xy-setting-bind-card:hover,
              .xy-setting-press-key,
              .xy-setting-press-key:hover,
              .xy-setting-rebind-card,
              .xy-setting-rebind-card:hover {
                color: $deepGreen;
                width: 72px;
                margin-right: 10px;
              }

              .xy-setting-delete-student {
                color: $red;
              }
            }
          }
        }

        .xy_new_add_student{
          width: 100%;
          line-height: 30px;
          text-align: center;
          border: 1px solid $gray;
          border-top: 0;
          padding: 10px;
          cursor: pointer;
          color: black;

          span {
            font-size: 25px;
            font-weight: bold;
          }
        }
      }
    }

    .xy-setting-footer {
      @include bottomOpenFooter;
      margin-top: 20px;
      margin-bottom: 14px;
    }
  }

}


