<div class="xy-multiple-question">
    <div class="xy-multiple-question-title" xy-draggable>
        <div class="title-text">
            <img src="../../img/multiple-title.png">
            <span>多题模式</span>
        </div>
        <div class="title-icon">
            <span class="iconfont" ng-click="minimize()">&#xe600;</span>
            <span class="iconfont" ng-click="closeWin()">&#xe602;</span>
        </div>
    </div>

    <div class="xy-multiple-question-body">
        <div class="xy-multiple-question-header">
            <span class="xy-time">
                {{getTimeString()}}
            </span>

            <button ng-click="stopAnswering()"
                    ng-disabled="!numberOfQuestions"
                    ng-class="{disabled: !numberOfQuestions}">
                作答结束
            </button>

            <div class="xy-multiple-number-input">
                <input
                        type="text"
                        type="number"
                        min="1"
                        ng-change=""
                        ng-blur="onQuestionNumberInputBlur($event)"
                        ng-model="numberOfQuestions"
                        placeholder="题目数"
                />
            </div>
        </div>

        <div class="xy-multiple-question-table" xy-scroll on-scroll="onTableScroll(data)">
            <table>
                <thead>
                    <tr class="xy-multiple-question-info-header">
                        <th>编号</th>
                        <th>姓名</th>
                        <th>学号</th>
                        <th>已答</th>
                        <th>完成度</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="student in getStudents() | limitTo: numberOfStudentsToDisplay">
                        <td>
                            <span>{{$index + 1}}</span>
                        </td>

                        <td title="{{student.name}}">
                            <span>{{student.name}}</span>
                        </td>

                        <td title="{{student.sNumber}}">
                            <span>{{student.sNumber}}</span>
                        </td>

                        <td>
                            <span>{{getStuAnsweredQuestionCount(student)}}</span>
                        </td>

                        <td>
                            <span>{{getStuCompleteRate(student) | percent}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="xy-multiple-question-footer">
        <span>操作说明：在输入框中输入题目数后，点击“作答结束”完成作答。</span>
    </div>

    <xy-alert ng-show="alerting" xy-content="{{alertContent}}"></xy-alert>
</div>