
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1467790365'); /* IE9*/
  src: url('iconfont.eot?t=1467790365#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1467790365') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1467790365') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1467790365#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-jiantouyou:before { content: "\e606"; }
.icon-zuixiaohua:before { content: "\e600"; }
.icon-ordinaryset:before { content: "\e601"; }
.icon-guanbi:before { content: "\e602"; }
.icon-jiantouxia:before { content: "\e607"; }
.icon-tongji:before { content: "\e603"; }
.icon-icon4:before { content: "\e604"; }
.icon-weibiaoti1:before { content: "\e608"; }
.icon-warn-copy:before { content: "\e605"; }
