.xy-login{
  &.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  position: relative;
  width: 402px;
  height: 252px;
  background-color: $anotherGrey;
  .tu-three{
    position: absolute;
    right: 0px;
    width: 66px;
    height: 100%;
    background-image: url("../../../../../img/one.png");
  }
  .xy_bar {
    color: $white;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: default;
    -webkit-app-region: no-drag;
    .iconfont {
      margin-right: 5px;
      font-size: 14px;
      cursor: pointer;
    }
  }
  .lip{
    color:$orange;
    font-family: "Microsoft YaHei";
    font-size: 12px;
    position: absolute;
    top: 179px;
    left: 155px;
  }
  .tu-one{
    position:absolute;
    left: 26px;
    top: 35px;
    width: 40px;
    height: 34px;
    background-image: url("../../../../../img/two.png");
  }
  .tu-two{
    position: absolute;
    left: 76px;
    top: 38px;
    width: 97px;
    height: 26px;
    background-image: url("../../../../../img/three.png");
  }

  .users{
    position: absolute;
    top:90px;
    margin-left: 30px;
    width: 280px;
    height: 35px;
    .tu{
      width: 280px;
      height: 35px;
      background-image: url("../../../../../img/four.png");
      background-repeat: no-repeat;
      background-position: left;
      background-size:35px 35px;
      .text{
        padding-left: 20px;
        padding-right: 28px;
        width: 245px;
        height: 35px;
        float: right;
        border: transparent;
        &:focus{
          border: 0.5px solid $deepGreen;
        }
      }
    }
    .btn:active{
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    .btn-primary{
      color: $black;
      background-color: $white;
      border:0;
      position: relative;
      bottom: 28px;
      right: 10px;
      float: right;
      &:hover,&:focus{
        color: $black;
        background-color: $white;
        border:0;
      }
    }
    .dropdown-menu {
      left: 35px;
      width: 245px;
      border: 0;
      max-height:112px;
      overflow: auto;
      a{
        &:hover{
          background-color: #ccc;
        }
        button{
          color: #fff;
          border: none;
          background: none;
          float: right;
          i{
            font-size: 12px;
          }
        }
      }
    }
    .btn{
      padding: 0;
    }
  }
  .pass{
    position: absolute;
    top:137px;
    margin-left: 30px;
    width: 280px;
    height: 35px;
    .tu {
      width: 280px;
      height: 35px;
      background-image: url("../../../../../img/five.png");
      background-repeat: no-repeat;
      background-position: left;
      background-size:35px 35px;
      .pa {
        padding-left: 20px;
        padding-right: 28px;
        width: 245px;
        height: 35px;
        border: transparent;
        float: right;
        &:focus{
          border: 0.5px solid $fhdGrey;
        }
      }
    }
  }
  label{
    position: absolute;
    top: 175px;
    left: 32px;
    input{
      top: 2px;
      position: relative;
    }
    span{
      font-weight: normal;
      font-size: 12px;
    }
  }
  .log{
    width: 280px;
    height: 35px;
    background-color:#06c8bc;
    text-align: center;
    color: white;
    font-family:"Microsoft YaHei";
    font-size:15px;
    margin-top: 202px;
    margin-left: 30px;
    border: none;
    border-radius:4px;
  }
}