<div class="xy_create_class unselectable">
    <div class="xy-create-class-header">
        <span>新增课程</span>
        <button tabindex="-1" ng-click="cancel()">
            <i class="iconfont">&#xe602;</i>
        </button>
    </div>
    <p class="xy_create_class_enter">请输入课程名称：</p>
    <div class="xy_create_class_content">
        <input type="text" maxlength="100" ng-model="newCourseName" class="xy_create_class_name" autofocus>
    </div>
    <div class="error_lip">{{errMsg}}</div>
    <div class="xy_create_class_button">
        <button ng-click="ok()"
                tabindex="-1"
                class="xy_create_class_ok">
            确定
        </button>
        <button ng-click="cancel()"
                tabindex="-1"
                class="xy_create_class_cancel">
            取消
        </button>
    </div>
</div>
