@import "multiple_question_answer_set_dialog";

.xy-multiple-question-result {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 5px;
  background-color: $deepGreen;
  .xy-multiple-question-result-title{
    padding-left: 35px;
    height: 63px;
    background-color: $deepGreen;
    color: $white;

    .title-text{
      line-height: 63px;
      float: left;
      font-size: 18px;
      cursor: default;
      img{
        margin-top: -2px;
      }
    }
    .title-icon{
      margin-top: -3px;
    }
  }
  .xy-multiple-question-result-body {
    background-color: $white;
    padding: 48px 50px 73px;

    .xy-multiple-question-result-table {
      text-align: center;
      height: 506px;
      overflow: auto;
      table {
        width: 100%;
        vertical-align: middle;
        border: 1px solid #ddd;
        font-size: 18px;
        thead {
          tr {
            color: #fff;
            background-color: #666;
            position: relative;
            z-index: 10;
            th {
              width: 20%;
              color: #fff;
              padding: 10px;
              text-align: center;
            }
          }
        }
        tbody {
          tr {
            border-bottom: 1px solid #ddd;
            td:first-child {
              border-left: none;
            }
            td {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              min-width: 60px;
              max-width: 150px;
              padding: 10px;
              border-left: 1px solid #ddd;
              font-size: $tdFontSize;
              width: 20%;
              .multiple-setting {
                color: $deepGreen;
                cursor: pointer;
              }
              .multiple-detail {
                color: $red;
                text-decoration: underline;
                cursor: pointer;
              }
              .diabled{
                text-decoration: none;
                color: #ccc;
                cursor: default;
              }
            }
            td:nth-child(2){
              width:230px;
              padding: 6px;
              &>div{
                padding: 4px;
                position: relative;
                button{
                  border: none;
                  background: none;
                  cursor: pointer;
                  position: absolute;
                  right: 20px;
                }
              }
            }
          }
        }
      }
    }
    .xy-multiple-question-result-footer{
      color: $orange;
      height:87px;
      margin-top: 42px;
      font-size: 18px;
      padding: 0;
    }
  }
}