.modal-dialog.modal-sm {
  width: 380px;
  height: 100%;
  margin: 0 auto;
  .modal-content {
    border-radius: 0;
    border: 1px solid $deepGreen;
    position: relative;
    top: 30%;
    .xy-multiple-question-answer-set-dialog {
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      height: 268px;
      .xy-multiple-question-answer-set-dialog-title{
        background-color: $deepGreen;
        line-height: 27px;
        padding: 0 4px 0 8px;
        span{
          color: $white;
          cursor: default;
        }
        div{
          float: right;
        }
      }

      .xy-multiple-question-answer-set-dialog-body{
        padding: 23px 0 14px 28px;
        .topic-options{
          .select-question{
            width: 213px;
            float: left;
            border-right: 1px solid #ddd;
            div{
              margin-bottom: -15px;
              label{
                width: 20px;
                margin: 16px 32px 10px 0;
                span{
                  display: inherit;
                  width: 20px;
                  height: 20px;
                  text-align: center;
                }
                input{
                  display: none;
                }
                .checked{
                  background: url("../../../../../img/checked.png");
                  cursor: pointer;
                }
                .unChecked{
                  background-color: #ddd;
                  cursor: pointer;
                }
              }
            }
          }
          .true-or-false{
            float: left;
            width: 137px;
            text-align: center;
            div{
              label{
                width: 100%;
                margin-top: 31px;
                margin-bottom: 0;
                span{
                  display: inherit;
                  width: 32px;
                  height: 32px;
                }
                input{
                  display: none;
                }
              }
              label:first-child{
                .checked{
                  background: url("../../../../../img/true.png");
                  cursor: pointer;
                }
                .unChecked{
                  background: url("../../../../../img/true-unchecked.png");
                  cursor: pointer;
                }
              }
              label:last-child{
                margin-bottom: 27px;
                .checked{
                  background: url("../../../../../img/false.png");
                  cursor: pointer;
                }
                .unChecked{
                  background: url("../../../../../img/false-unchecked.png");
                  cursor: pointer;
                }
              }
            }
          }
        }
        .multiple-set-btn{
          float: right;
          margin-right: 17px;
          button{
            cursor: pointer;
            width: 96px;
            height: 26px;
            border: 0;
            border-radius: 2px;
            background-color: #7e7e7e;
            color: #fff;
            font-size: 12px;
          }
          button:first-child{
            background-color: $deepGreen;
          }
        }
      }
    }
  }
}