html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

body > div {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.home_lihome{
  &.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .xy_title_bar{
    .xy_bar_ops {
      margin-right: 4px;
    }
  }



.xy_user_area {
  width: 200px;
  height: 79px;
  background-color: $deepGreen;
  position: relative;
  .xy_user_avatar {
    background-image: url("../../../../../img/cap.png");
    background-size: 64px 54px;
    width: 64px;
    height: 54px;
    position: absolute;
    top: 12px;
    left: 17px;
  }
  .xy_user_info {
    width: 86px;
    height: 28px;
    position: absolute;
    top: 35px;
    left: 93px;
    color: $white;
    .xy_user_name {
      width: 100%;
      height: 20px;
      font-size: 16px;
      font-family: "Microsoft YaHei";
      color: $white;
      position: absolute;
      left: 5px;
      bottom: 30px;
      @include textOverflowEllipsis;
    }
    .xy_home_class_name {
      border: 1px solid hsla(0, 0%, 100%, 0);
      display: inline-block;
      width: 95px;
      .dropdown-menu>li>a:focus,
      .dropdown-menu>li>a:hover {
        color: $white;
        text-decoration: none;
        background-color: $middleGray;
      }
      &:hover {
        border: 1px solid #fff;
      }
      .xy_home_class_name_ul {
        min-width: 0;
        width: 95px;
        overflow: hidden;
        border-radius: 0;
        left: -1px;
        overflow-y: auto;
        max-height: 145px;
        .xy_home_class_name_list {
          width: 95px;
          cursor: pointer;
          .xy_home_select_class_name {
            padding: 2px 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 15px;
          }
        }
      }
      .xy_home_class_name_a {
        display: block;
        width: 95px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $white;
        text-decoration: none;
        padding: 0 15px 0 5px;
        white-space: nowrap;
        font-size: 15px;
        cursor: pointer;
        &:hover,
        &:focus {
          color: $white;
          text-decoration: none;
        }
        .xy_home_class_name_icon {
          position: absolute;
          right: 0;
        }
      }
    }
  }
}

.xy_main_options {
  width: 200px;
  height: 279px;
  position: relative;
  .option_tile_one,
  .option_tile_two{
    width: 72px;
    height: 119px;
    position: absolute;
    top: 11px;
  }
  .option_tile_two{
    left: 93px;
  }
  .option_tile_three,
  .option_tile_four{
    width: 72px;
    height: 119px;
    position: absolute;
    top: 134px;
  }
  .option_tile_four{
    left: 93px;
  }
  .xy_option_tile {
    width: 110px;
    height: 132px;
    margin: 18px;
    display: inline-block;
    .xy_tile_name {
      font-size: 16px;
      font-family: "Microsoft YaHei";
      position: absolute;
      left: 4px;
      top: 80px;
    }
    .tile_img_one {
      background-image: url("../../../../img/single.png");
      background-size: 72px 74px;
      &:hover {
        background-image: url("../../../../img/single_float.gif");
        background-size: 72px 74px;
      }
    }
    .tile_img_two {
      background-image: url("../../../../img/mutiple.png");
      background-size: 72px 74px;
      &:hover {
        background-image: url("../../../../img/mutiple_float.png");
        background-size: 72px 74px;
      }
    }
    .tile_img_three {
      background-image: url("../../../../img/rush.png");
      background-size: 72px 74px;
      &:hover {
        background-image: url("../../../../img/rush_float.png");
        background-size: 72px 74px;
      }
    }
    .tile_img_four {
      background-image: url("../../../../img/select.gif");
      background-size: 72px 74px;
      &:hover {
        background-image: url("../../../../img/select_float.gif");
        background-size: 72px 74px;
      }
    }

    .xy_tile_img {
      width: 72px;
      height: 74px;
      background-color:transparent;
      cursor: pointer;
    }
  }
}

.xy_bottom_bar {
  width: 100%;
  height: 62px;
  bottom: 0;
  background-color: $deepGreen;
  position: relative;
  .xy_bottom-tool {
    display: inline-block;
    width: 31%;
    .tool_name_one {
      font-size: 12px;
      font-family: "Microsoft YaHei";
      position: absolute;
      top: 39px;
      left: 12px;
      color: $white;
      img{
        width: 26px;
        height:26px;
      }
    }
    .tool_name_two {
      font-size: 12px;
      font-family: "Microsoft YaHei";
      position: absolute;
      top: 39px;
      left: 83px;
      color: $white;
    }
    .tool_name_three {
      font-size: 12px;
      font-family: "Microsoft YaHei";
      position: absolute;
      top: 39px;
      left: 155px;
      color: $white;
    }
    .tool_img_one {
      width: 26px;
      height: 26px;
      background-color:$deepGreen;
      position: absolute;
      left: 24px;
      top: 10px;
      cursor: pointer;
      & > i {
        color: $white;
        display: inline-block;
        width: 24px;
        line-height: 28px;
        font-size: 25px;
        &:hover {
          color: $lowgrey;
        }
      }
    }
    .tool_img_two {
      width: 30px;
      height: 31px;
      background-color: $deepGreen;
      position: absolute;
      left: 91px;
      top: 8px;
      cursor: pointer;

      & > i {
        color: #fff;
        display: inline-block;
        width: 30px;
        line-height: 31px;
        font-size: 25px;
        &:hover {
          color: $lowgrey;
        }
      }
    }
    .tool_img_three {
      width: 26px;
      height: 28px;
      background-color: $deepGreen;
      position: absolute;
      left: 155px;
      top: 10px;
      cursor: pointer;

      & > i {
        color: $white;
        display: inline-block;
        width: 26px;
        line-height: 28px;
        font-size: 25px;
        &:hover {
          color: $lowgrey;
        }
      }
    }
  }
}
}


















