<!--这是答题详情窗口-->
<!--沈奥林 2016/6/2-->
<!--<xy-title-bar xy-title="答题详情" xy-min-disable ></xy-title-bar>-->
<div class="xy_true_false_question_answer_detail unselectable">
    <div class="xy_answer_header" xy-draggable>
        <div class="word">全班作答结果统计</div>
    </div>
    <div class="xy_answer_rate">
        <div class="xy_answer_l">
            <div class="right">
                正确率：{{cRateStr|percent}}
            </div>
        </div>
        <div class="xy_answer_r">
            <div class="join">
                参与率：{{pRateStr|percent}}
            </div>
        </div>
    </div>
    <div class="xy_answer_stat">
        <div class="letter">
            <div ng-class="getTrueItemClassObj()" class="letter-one">
                <div class="letter-background"
                     ng-class="{hasMember: getTrueStudentCount() > 0}"
                     ng-click="openTrueStudentList()">
                    <span style="bottom:{{(getTrueStudentsRate() * 100) + '%'}}">{{getTrueStudentCount()}}人</span>
                    <div class="letter-true" style="height:{{getTrueStudentsRate() | percent}}"></div>
                </div>
                <span class="letter-icon-true" ng-click="setAnswerTrue()">
                    <div></div>
                </span>
            </div>

            <div ng-class="getFalseItemClassObj()" class="letter-one">
                <div class="letter-background"
                     ng-class="{hasMember: getFalseStudentCount() > 0}"
                     ng-click="openFalseStudentList()">
                    <span style="bottom:{{(getFalseStudentsRate() * 100) + '%'}}">{{getFalseStudentCount()}}人</span>
                    <div  class="letter-false" style="height:{{getFalseStudentsRate() | percent}}"></div>
                </div>
                <span class="letter-icon-false" ng-click="setAnswerFalse()">
                    <div></div>
                </span>
            </div>

            <div class="letter-one">
                <div class="letter-background"
                     ng-class="{hasMember: getUnAnsweredStudentCount() > 0}"
                     ng-click="openUnAnsweredStudentList()">
                    <span style="bottom:{{(getUnAnsweredStudentsRate() * 100) + '%'}}">{{getUnAnsweredStudentCount()}}人</span>
                    <div class="letter-none" style="height:{{getUnAnsweredStudentsRate() | percent}}"></div>
                  </div>
                <span class="letter-icon-none">未答</span>
            </div>
        </div>
        <div class="xy-prompt" ng-bind="promptMsg"></div>
    </div>
    <xy-alert ng-show="_alerting" xy-content="{{_alertContent}}"></xy-alert>
</div>
<xy-float-tabs xy-style="greenBlack"></xy-float-tabs>