.xy-teacher-card {
  &.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  @include bottomOpenSize;
  display: block;
  font-size:18px;

  .xy-teacher-card-content {
    @include bottomOpenContent;
    padding-bottom: 30px;

    .xy-teacher-card-body {
      width: 100%;
      height: 530px;
      @include bottomOpenPaddingLR;
      @include bottomOpenPaddingT;
      background-color: $white;

      .xy-teacher-card-btn-wrapper {
        width: 100%;
        display: block;
        margin-bottom: 22px;

        .xy-btn-add-new-teacher {
          color: $black;
          font-size: 18px;
          line-height: 18px;
          border-radius: 0;
          background-color: $deepGreen;
          color: $white;
          @include bottomOpenBtnPadding;

          &:link,
          &:visited,
          &:hover,
          &:focus {
            outline: none;
          }

          &:hover {
            background-color: $deepGreen;
          }
        }
      }

      .xy-teacher-card-table-wrapper {
        width: 100%;
        height: 430px;
        overflow: auto;

        .xy-teacher-card-info {
          width: 100%;
          border: $greyBorder;
        }

        .xy-teacher-card-info-content {
          max-height: 400px;
          overflow: auto;
        }

        .xy-teacher-card-info-header,
        .xy-teacher-card-info-teacher {

          .xy-teacher-card-index,
          .xy-teacher-card-name,
          .xy-teacher-card-id,
          .xy-teacher-card-operation {
            @include textOverflowEllipsis;
            @include bottomOpenTable;
          }
          .xy-teacher-card-index{
            width: 90px;
          }
          .xy-teacher-card-name {
            width: 340px;
          }
          .xy-teacher-card-id{
            width: 300px;
          }
        }

        .xy-teacher-card-info-header {
          @include bottomOpenTableTiele;
        }
      }

      .xy-teacher-card-info-teacher {
        border-top: $greyBorder;
        color: $black;
        td{
          font-size: $tdFontSize;
          a{
            font-size: $tdFontSize !important;
          }
        }

        .xy-teacher-card-name,
        .xy-teacher-card-id,
        .xy-teacher-card-operation {
          border-left: $greyBorder;
        }

        .xy-teacher-card-operation-bind,
        .xy-teacher-card-operation-bind:hover,
        .xy-teacher-card-operation-press-key,
        .xy-teacher-card-operation-press-key:hover,
        .xy-teacher-card-operation-delete,
        .xy-teacher-card-operation-delete:hover {
          display: inline-block;
          text-decoration: underline;
          font-size: 18px;
          text-align: center;
          cursor: pointer;
        }

        .xy-teacher-card-operation-bind,
        .xy-teacher-card-operation-bind:hover,
        .xy-teacher-card-operation-press-key,
        .xy-teacher-card-operation-press-key:hover {
          width: 90px;
          color: $deepGreen;
        }

        .xy-teacher-card-operation-delete,
        .xy-teacher-card-operation-delete:hover{
          padding-left: 10px;
          color: $red;
        }

        .xy-teacher-card-footer {
          padding: 0 40px;
        }

        .xy-teacher-card-name input,
        .xy-teacher-card-id input {
          width: 100%;
          outline: none;
          border: none;
          text-align: center;
        }
      }
    }

    .xy-teacher-card-footer{
      @include bottomOpenFooter;
      margin-top: 15px;
      margin-bottom: 36px;
    }
  }
}



