$deepGreen: #13E1DA;
$lightGreen: #14e1da;
$yellow: #ffff00;
$red: #ff0000;
$gray: #ddd;
$white: #fff;
$black: #000;
$orange: #f7930f;
$purple: #7e3cfd;
$lightPurple: #B784FD;
$heaveGreen:#00837e;
$lightGreen: #14e1da;
$deepYellow:#fed267;
$deepGrey:#646464;
$lightGrey: #f1f1f1;
$skyBlue: #5097FF;
$greyWhite:#ccc;
$blackGrey:#444;
$iceBlue:#b0f1ef;
$middleGray:#808080;
$normalGrey: #6c6c6c;
$darkGreen:#01827e;
$oneGreen:#006e6d;
$twoGray:#D0CDCD;
$twoGreen:#46e895;
$lightRed:#ff896f;
$sinkBlue:#63beff;
$threeGreen:#44e694;
$fourGreen:#1bb265;
$lowBlue:#c9e8ff;
$lowgrey:#f2f2f2;
$sixGreen:#3fe590;
$lightBlack:#414141;
$oneGrey:#666;
$lowPurple:#b887fd;
$lowWhite:#f0e6ff;
$deepWhite:#d8cfe6;
$greyBlue:#10d9cf;
$limeGreen:limegreen;
$littleGrey:#b5b5b5;
$fontGrey:#878787;
$hoverBlue:#0fdbd2;
$cancelBtnGrey:#7e7e7e;
$smallGrey:#ebeff1;
$anotherGreen:#149b97;
$anotherGrey:#e9e9e9;
$anotherGray:#b5bbbb;

$fhdGrey:#b5bbbb;

