$tdFontSize: 18px;
$gray: #ddd;
$greyBorder:1px solid $gray;
$widthOne:300px;
$heightTwo:65px;
$widthTwo:230px;
$heightThree:230px;
$heightfour:40px;
$addwidth:320px;
$btnwidth:130px;
$btnheight:35px;
.clearfix {
  zoom: 1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.fl {
  float: left;
}

.fr {
  float: right;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .05);
}

::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border-radius: 5px;
}


.title-icon{
  float: right;
  -webkit-app-region: no-drag;
  color: #fff;
  span{
    cursor: pointer;
  }
}

body{
  padding-right: 0 !important;
}
