@mixin textOverflowEllipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin bottomOpenSize{
  width: 100%;
  padding: 0 5px 5px 5px;
  background-color: $deepGreen;
  font-family: "Microsoft YaHei";
}

@mixin bottomOpenContent{
  width: 100%;
  height: 100%;
  background: $white;
  background-clip: content-box;
}

@mixin bottomOpenPaddingLR{
  padding-right: 40px;
  padding-left: 40px;
}
@mixin bottomOpenPaddingT{
  padding-top: 20px;
}

@mixin bottomOpenTable{
  padding: 10px;
  text-align: center;
}

@mixin bottomOpenFooter{
  @include bottomOpenPaddingLR;
  background-color: $white;
  color: $orange;
  margin-top: 45px;
}

@mixin bottomOpenTableTiele{
  color: $white;
  background-color: $oneGrey;
}

@mixin bottomOpenBtnPadding{
  padding:  4px 6px;
}
