<!--这是设置窗口-->
<!--沈奥林 2016/6/1-->

<div class="xy-setting unselectable">
    <xy-setting-title-bar
            version="{{getVersion()}}"
            active-button="manageStudent">
    </xy-setting-title-bar>

    <div class="xy-setting-content">
        <div class="xy-setting-header clearfix">
            <div class="xy-setting-class-manage-tool fl"
                 ng-show="showClassSelector()">
                <span uib-dropdown
                      on-toggle="toggled(open)"
                      class="xy_setting_class_name">
                      <a href id="simple-dropdown" uib-dropdown-toggle class="xy_setting_class_name_a" title="{{getCurtCourseName()}}">
                        {{getCurtCourseName()}}
                          <i class="iconfont xy_setting_class_name_bottom_arrow">&#xe608;</i>
                      </a>
                      <ul class="dropdown-menu xy_setting_class_name_ul" uib-dropdown-menu aria-labelledby="simple-dropdown">
                        <li ng-repeat="course in getCourses()" class="xy_setting_class_name_list">
                          <a ng-click="onCourseChanged($index)" class="xy_setting_class_name_list_a" title="{{course.name}}">
                              {{course.name}}
                          </a>
                        </li>
                      </ul>
                </span>
            </div>

            <div class="xy-setting-btn-wrapper fr">
                <button class="xy-setting-output-class-btn xy-setting-btn"
                        ng-click="outputClassBtnClickHandler($event)">
                    导出课程
                    <input type="file"
                            ng-show="false"
                           ng-model="inputFile"
                           onchange="angular.element(this).scope().outputClass(this)"
                           ng-change="outputClass($event)"
                           nwsaveas="{{getDefaultOutputFilename()}}"
                           accept=".dtb"
                    />
                </button>
            </div>

        </div>

        <div class="xy-setting-body">
            <div class="inner-wrapper" ng-show="showStudentsTable()" xy-scroll on-scroll="onTableScroll(data)">
                <table class="xy-setting-class-info">
                    <thead>
                    <tr class="xy-setting-class-info-header">
                        <th class="xy-setting-class-info-header-item">编号</th>
                        <th class="xy-setting-class-info-header-item">姓名</th>
                        <th class="xy-setting-class-info-header-item">学号</th>
                        <th class="xy-setting-class-info-header-item">家长电话</th>
                        <th class="xy-setting-class-info-header-item">卡片序号</th>
                        <th class="xy-setting-class-info-header-item">状态</th>
                        <th class="xy-setting-class-info-header-item">操作</th>
                    </tr>
                    </thead>

                    <tbody class="xy-setting-class-info-body">
                    <tr class="xy-setting-student-info"
                        ng-repeat="student in getStudents() | limitTo: numberOfStudentsToDisplay">
                        <td class="xy-setting-student-info-item">
                            {{$index+1}}
                        </td>

                        <!--{{student.name}}-->
                        <td class="xy-setting-student-info-item" title="{{student.name}}">
                            <span>{{student.name}}</span>
                        </td>

                        <!--{{student.sNumber}}-->
                        <td class="xy-setting-student-info-item" title="{{student.sNumber}}">
                            <span>{{student.sNumber}}</span>
                        </td>

                        <!--{{student.mPhone}}-->
                        <td  class="xy-setting-student-info-item">
                            <span>{{student.mPhone}}</span>
                        </td>

                        <!--{{student.cardId}}-->
                        <td  class="xy-setting-student-info-item">
                            <input type="text"
                                   class="xy-setting-student-info-cardId"
                                   ng-show="!student.cardId || student.available == 1"
                                   ng-focus="onCardIdInputOnFocus(student)"
                                   ng-blur="onCardIdInputBlur(student)"
                                   ng-model="student.cardId"
                            />

                            <span ng-show="!!student.cardId && student.available != 1">
                                {{student.cardId}}
                            </span>
                        </td>

                        <td  class="xy-setting-student-info-item">
                            <span ng-show="student.available == 2">
                                <i class="xy-setting-userable"></i>
                            </span>

                            <span ng-show="student.available != 2">
                                <i class="xy-setting-unUserable"></i>
                            </span>
                        </td>

                        <td class="xy-setting-student-info-item">
                            <a class="xy-setting-bind-card"
                               ng-show="student.available==0"
                               ng-click="startWaitingBind(student)">
                                绑定校卡
                            </a>

                            <a class="xy-setting-press-key"
                               ng-show="student.available==1" >
                                请按键
                            </a>

                            <a class="xy-setting-rebind-card"
                               ng-show="student.available==2"
                               ng-click="rebindStudentCard(student)">
                                更新绑定
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="xy-setting-footer">
            <p class="xy-setting-operating-instruction">操作说明：在操作栏点击绑定校卡，按卡片任意键即可完成匹配。</p>
        </div>
    </div>

    <xy-alert ng-show="alerting" xy-content="{{alertContent}}"></xy-alert>
</div>
