<div class="xy-setting-title-bar" xy-draggable>
    <div class="xy-title-bar">
        <div>
            <button
                    ng-click="openManageStudentPage()"
                    ng-disabled="isManageStudentBtnActive()"
                    ng-class="{active: isManageStudentBtnActive()}"
                    class="xy-title-bar-student">
            </button>

            <button
                    ng-click="openManageClassPage()"
                    ng-disabled="isManageClassBtnActive()"
                    ng-class="{active: isManageClassBtnActive()}"
                    ng-show="!isNetworkVersion()"
                    class="xy-title-bar-class">
            </button>

            <button
                    ng-click="openTeacherCardPage()"
                    ng-disabled="isManageTeacherBtnActive()"
                    ng-class="{active: isManageTeacherBtnActive()}"
                    class="xy-title-bar-teacher">
            </button>
        </div>

        <div class="title-icon">
            <span class="iconfont" ng-click="minimize()" ng-show="!minDisable">&#xe600;</span>
            <span class="iconfont" ng-click="closeWin()" ng-show="!closeable">&#xe602;</span>
        </div>
    </div>
</div>