.xy-student-stage {
    &.unselectable {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    width: 100%;
    height: 100%;
    font-family: "Microsoft YaHei";
    font-size: 18px;
    color: $black;

    &.greenBlack {
        background-color:  $iceBlue;

        .header {
            background-color: $heaveGreen;
        }

        .time_count{
            color: $heaveGreen;
            background-color: $iceBlue;
        }

        .answer_content{
            .student_index,
            .student_name,
            .answer_text{
                color: $black;
            }

            .return,
            .return:hover {
                background-color: $heaveGreen;
            }
        }

    }

    &.green  {
        background-color: $sixGreen;

        .header {
            background-color: $fourGreen;
        }

        .time_count{
            color: $white;
            background-color: $sixGreen;
        }

        .answer_content{

            .student_index,
            .student_name,
            .answer_text{
                color: $white;
            }

            .return,
            .return:hover {
                background-color: $fourGreen;
            }
        }
    }

    &.purple {
        background-color: $lightPurple;

        .header {
            background-color: $purple;
        }

        .time_count{
            color: $white;
            background-color: $lightPurple;
        }

        .answer_content{

            .student_index,
            .student_name,
            .answer_text{
                color: $white;
            }

            .return,
            .return:hover {
                background-color: $purple;
            }
        }
    }

    .header{
        width: 100%;
        padding: 7px 0;
        color: $white;
        text-align: center;
        letter-spacing: 1px;
        cursor: default;
    }

    .time_count{
        width: 100%;
        text-align: center;
        padding: 5px;
        font-size: 30px;
        border-bottom: 1px solid $white;
        line-height: 54px;
    }


    .answer_content{
        width: 100%;
        padding: 0 10px;

        .student_index {
            text-align: center;
            font-family: "Microsoft YaHei";
            padding-top:20px;
        }

        .student_name{
            @include textOverflowEllipsis;

            font-family: "Microsoft YaHei";
            text-align: center;
            font-size: 20px;
            padding-top: 29px;
        }

        .answer_text{
            text-align: center;
            padding-top: 35px;
            font-family: "Microsoft YaHei";
        }

        .return {
            display: block;
            width: 100%;
            margin: 25px auto;
            position: relative;
            z-index: 10;
            padding: 5px 0;
            text-align: center;
            cursor: pointer;
            border: none;
            font-family: "Microsoft YaHei";
            color: $white;
        }
    }
}

